
<% if logged_in? %>
<div class="centre">
<h1><%= @item.name %></h1>
<p>Item Id: <%= @item.id %></p>
  <img src="<%= @item.image_url%>" style="cursor:pointer"
       onclick="showImage(this.src, '<%= @item.image_url%>');" />
  <div id="largeImgPanel" onclick="this.style.display='none'">
      <img id="largeImg"
           style="height:75%; width: 65%; margin:0; padding:0;" />
  </div>
    <p><%= @item.description%></br>
      <span id="small">Please click to see a larger image</span></p>
    <p>$<%= @item.price%></p>





<form action="/send_message/<%= @item.user_id%>" method="post">
    <div>
        <textarea id ="reply" name="content" placeholder="Contact the seller...">
        </textarea>
    </div>

    <input type="hidden" name="related" value = "<%= @item.id %>">

    <div class="button">
        <button type="submit">Contact Seller</button>
    </div>
</form>

</div>


        <script type="text/javascript">
            function showImage(smSrc, lgSrc) {
                document.getElementById('largeImg').src = smSrc;
                showLargeImagePanel();
                unselectAll();
                setTimeout(function() {
                    document.getElementById('largeImg').src = lgSrc;
                }, 1)
            }
            function showLargeImagePanel() {
                document.getElementById('largeImgPanel').style.display = 'block';
            }
            function unselectAll() {
                if(document.selection)
                    document.selection.empty();
                if(window.getSelection)
                    window.getSelection().removeAllRanges();
            }
        </script>

        <style type="text/css">
            #largeImgPanel {
                text-align: center;
                display: none;
                position: fixed;
                z-index: 100;
                top: 0; left: 0; width: 100%; height: 100%;
                background-color: rgba(100,100,100, 0.5);
            }
        </style>
    </head>




<% else %>

<div class="centre">
  <h1><%= @item.name %></h1>
    <img src="<%= @item.image_url%>" alt="">
      <p><%= @item.description%></p>
      <p>$<%= @item.price%></p>

<h2>Login, or signup to contact the seller</h2>
</div>

<% end  %>
