
<h2>Welcome <%= @name %>, to your personal home page</h2>


<ul>
  <li><a href="/create_ad">Create a new advert</a></li>
  <li><a href="/messages">Messages</a></li>
  <li><a href="/remove">Remove your profile</a><li>
</ul>

  <% @items.each do |item| %>

  <ul>
    <li>
      <a href="/item_info/<%= item.id%>">
        <img id="index" src="<%= item.image_url%>" alt="">
        <%= item.name %>
        $<%= item.price %>
</a>
   </li>

   <form action="/item_info/<%= item.id %>" method="post">
     <input type="hidden" value="delete" name="_method">
     <button>Delete</button>
   </form>



  </ul>

<% end %>
